<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
._customer-wrap {
    max-width: 1129px;
    min-width: 340px;
    margin: 0 auto;
    font: 15px 'Roboto', sans-serif;
    font-weight: 300;
    color: #333333;
    padding-bottom: 50px;
}
._customer-futures ul {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-bottom: 40px;
}
._customer-futures ul li {
    width: 45%;
    color: #000000;
    margin-top: 10px;
}
._customer-futures ul li:first-child {
    margin-right: 5%;
}
._customer-futures ul li p {
    font-weight: 500;
}
._customer-futures ul li span {
    color: #7d7d7d;
}
._customer-item {
    margin-bottom: 70px;
}
._customer-item__block {
    background: #eef0f3;
    display: flex;
    margin-bottom: 30px;
    color: #757678;
    padding: 20px;
}
._customer-item__block p {
    margin-top: -15px;
}
._customer-item__title a {
    font-size: 20px;
    color: #40516d;
    font-weight: 500;
}
._customer-item__title a:hover {
    text-decoration: none;
}
._customer-item__main {
    padding: 0 30px;
    display: grid;
}
._customer-block__button {
    width: 180px;
    height: 40px;
    border-radius: 2px;
    background: #5d6d88;
    text-align: center;
    line-height: 40px;
}
._customer-block__button a {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
._customer-block__button:hover {
    opacity: 0.8;
}
._customer-list {
    margin-top: 70px;
}
._customer-list__block-1 {
    height: 100px;
    background: url("img/page/img-list1.png") no-repeat;
}
._customer-list__block-2 {
    height: 100px;
    background: url("img/page/img-list2.png") no-repeat;
}
._customer-list__block-3 {
    height: 100px;
    background: url("img/page/img-list3.png") no-repeat;
}
._customer-list__block-4 {
    height: 100px;
    background: url("img/page/img-list4.png") no-repeat;
}
._customer-list__block-5 {
    height: 100px;
    background: url("img/page/img-list5.png") no-repeat;
}
._customer-list__block-6 {
    height: 100px;
    background: url("img/page/img-list6.png") no-repeat;
}
._customer-list__block-7 {
    height: 100px;
    background: url("img/page/img-list7.png") no-repeat;
}
._customer-list__block-8 {
    height: 100px;
    background: url("img/page/img-list8.png") no-repeat;
}
._customer-list__block-9 {
    height: 100px;
    background: url("img/page/img-list9.png") no-repeat;
}
._customer-list__block-10 {
    height: 100px;
    background: url("img/page/img-list10.png") no-repeat;
}
._customer-list ul {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
._customer-list ul li {
    display: grid;
    align-content: center;
    list-style: none;
    width: 20%;
    padding-left: 125px;
    margin-bottom: 30px;
    margin-left: 20px;
}
._customer-list ul li a {
    font-size: 18px;
    color: #40516d;
    font-weight: 500;
}
._customer-list ul li a:hover {
    text-decoration: none;
}
._customer-call {
    display: flex;
    background: #eef0f3;
    padding: 30px 60px;
    color: #000000;
    line-height: 20px;
    margin-top: 80px;
}
._customer-call__text {
    max-width: 765px;
    margin-right: 50px;
}
._customer-call__text p {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
._customer-call__phone {
    min-width: 204px;
    min-height: 24px;
    font-size: 20px;
    font-weight: 500;
    background: url("img/page/icon-phone.png") no-repeat;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-top: 14px;
}
._customer-block__button {
    font: 13px Arial, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background: #5d6d88;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
._customer-block__button:hover {
    opacity: 0.8;
}
@media (max-width: 768px) {
    ._customer-item__block {
        display: block;
        text-align: center;
    }
    ._customer-block__button {
        margin: 0 auto;
    }
    ._customer-item__img img {
        width: 70%;
        height: auto;
    }
    ._customer-futures ul {
        display: block;
    }
    ._customer-futures ul li {
        width: 100%;
    }
    ._customer-call {
        display: block;
    }
    ._customer-list ul {
        padding-left: 0;
    }
}
@media (max-width: 1188px) {
    ._customer-list ul li {
        width: 30%;
    }
    ._customer-call__text {
        margin-right: 0;
    }
    ._customer-block__button-call {
        margin-left: 0;
    }
}
</style>
<div class="_customer-wrap">
    <p>Слоистые пластики &ndash; высокотехнологичный материал с особой прочностью, электрической
    инертностью, стойкостью к химическому и термическому воздействию. Композитные материалы востребованы во всех
    сферах благодаря следующим особенностям:
    </p>
    <div class="_customer-futures">
        <ul>
            <li><p>Многослойная структура</p>
                <span>Ткани, бумага, картон и другие армирующие наполнители на
                основе асбестовых, стеклянных, целлюлозных, борных, углеродистых волокон пропитаны полимерным
                вяжущим веществом.
                </span>
            </li>
            <li>
                <p>Стабильность к любым воздействиям</p>
                <span>Материалы устойчивы к химическим веществам, коррозии, термическим и гидравлическим
                    нагрузкам, облучению и электрическим токам.
                </span>
            </li>
            <li>
                <p>Высокая обрабатываемость</p>
                <span>Универсальность относительно применения.</span>
            </li>
        </ul>
    </div>
    <div class="_customer-item">
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Текстолитовые плиты" src="img/page/img-item1.png" />
            </div>
            <div class="_customer-item__main">
                <h3 class="_customer-item__title">
                    <a href="#">Текстолитовые плиты</a>
                </h3>
                <p>Листы выполнены по ГОСТ 2910-74 из ХБ/синтетических волокон и термоактивного вяжущего ФФС.
                    Мы предлагаем конструкционный лист (марки ПТК, ПТ) и электротехнический (А, Б, ВЧ, ЛТ)
                    толщиной 0,5-80 мм. Изделия имеют высокую ударную вязкость и прочность на сжатие, стойкость
                    к электрическим/термическим воздействиям.
                </p>
                <div class="_customer-block__button">
                    <a href="#">В каталог</a>
                </div>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Текстолитовые стержни" src="img/page/img-item2.png" />
            </div>
            <div class="_customer-item__main">
                <h3 class="_customer-item__title">
                    <a href="#">Текстолитовые стержни</a>
                </h3>
                <p>Стержни из натуральных/синтетических волокон и вяжущего вещества применяют в качестве
                    изоляционного/конструкционного материала для работы в трансформаторном масле. Изделия
                    соответствуют ГОСТ 5385-74, имеют четкую форму, отличаются стойкостью, инертностью,
                    прочностью, ударной вязкостью. Доступны диаметром от 0,5 до 100 мм.
                </p>
                <div class="_customer-block__button">
                    <a href="#">В каталог</a>
                </div>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Стеклотекстолит" src="img/page/img-item3.png" />
            </div>
            <div class="_customer-item__main">
                <h3 class="_customer-item__title">
                    <a href="#">Стеклотекстолит</a>
                </h3>
                <p>Слоистый материал марок СТЭФ/СТЭФ-1 с наполнителем из стеклоткани и смешанным вяжущим
                    веществом (эпоксидная смола/ФФС). Стеклотекстолит (ГОСТ 12652-74) толщиной обладает
                    прочностью, теплостойкостью, низким водопоглощением и применяется в радио-/электротехнике,
                    машиностроении. Мы предлагаем листы толщиной 0,5-80 мм.
                </p>
                <div class="_customer-block__button">
                    <a href="#">В каталог</a>
                </div>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Стеклопластик" src="img/page/img-item4.png" />
            </div>
            <div class="_customer-item__main">
                <h3 class="_customer-item__title">
                    <a href="#">Стеклопластик</a>
                </h3>
                <p>Слоистый пластик на основе стекловолокна, синтетических волоконных материалов с термоактивной
                    смолой в качестве вяжущего вещества. Рулонный материал с увеличенным запасом прочности,
                    абсолютной инертностью к любым воздействиям применяют в качестве покровного слоя, теплоизоляции,
                    защитного покрытия.
                </p>
                <div class="_customer-block__button">
                    <a href="#">В каталог</a>
                </div>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Гетинакс" src="img/page/img-item5.png" />
            </div>
            <div class="_customer-item__main">
                <h3 class="_customer-item__title">
                    <a href="#">Гетинакс</a>
                </h3>
                <p>Композитный материал в листах толщиной 0,5-30 мм с основой из пропиточной бумаги и вяжущего ФФС.
                    Гетинакс используется в качестве изоляционных щитов, панелей в установках низкого напряжения.
                    Отличается прочностью, стойкостью, электроинертностью. Соответствует ГОСТ 2718-74.
                </p>
                <div class="_customer-block__button">
                    <a href="#">В каталог</a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="company-header-title">Другие изоляционные материалы</h2>
    <div class="_customer-list">
        <ul>
            <li class="_customer-list__block-1">
                <a href="#">Фторопласт</a>
            </li>
            <li class="_customer-list__block-2">
                <a href="#">Капролон</a>
            </li>
            <li class="_customer-list__block-3">
                <a href="#">Лакоткань</a>
            </li>
            <li class="_customer-list__block-4">
                <a href="#">Стеклолакоткань</a>
            </li>
            <li class="_customer-list__block-5">
                <a href="#">Электроизоляционные ленты</a>
            </li>
            <li class="_customer-list__block-6">
                <a href="#">Электроизоляционные трубки</a>
            </li>
            <li class="_customer-list__block-7">
                <a href="#">Изофлекс</a>
            </li>
            <li class="_customer-list__block-8">
                <a href="#">Лавитерм</a>
            </li>
            <li class="_customer-list__block-9">
                <a href="#">Пленкосинтокартон</a>
            </li>
            <li class="_customer-list__block-10">
                <a href="#">Имидофлекс</a>
            </li>
        </ul>
    </div>
    <div class="_customer-call">
        <div class="_customer-call__text">
            <p>Чтобы обсудить детали заказа, свяжитесь с менеджерами компании. Мы проконсультируем по всем
                интересующим вопросам и предложим комфортные условия взаимовыгодного сотрудничества.
            </p>
        </div>
        <div>
            <div class="_customer-call__phone">+7 (343) 361-03-39</div>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content
            _customer-block__button _customer-block__button-call"
                 data-company-id="98082432" data-company-name="ТД Электро-изолит" data-company-name-rest="ООО"
                 data-company-url="http://www.elektro-izolit.ru" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:98082432}" data-statistics="1" data-type="callback">
                Заказать звонок
            </div>
        </div>
    </div>
</div>
