<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
._customer-wrap {
    max-width: 1147px;
    min-width: 340px;
    margin: 0 auto;
    font: 15px 'Roboto', sans-serif;
    font-weight: 300;
    color: #333333;
    padding-bottom: 60px;
}
._customer-wrap h3 {
    font-size: 20px;
    margin-top: 60px;
    font-weight: 500;
}
._customer-wrap h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 28px 0 15px 0;
    color: #000000;
}
._customer-wrap p {
    margin: 15px 0;
    line-height: 22px;
}
._customer-top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
._customer-top p {
    color: #7d7d7d;
}
._customer-top__item {
    width: 362px;
    margin-right: 30px;
}
._customer-center {
    display: flex;
    flex-wrap: wrap;
}
._customer-center p {
    color: #000000;
    margin-top: 15px;
}
._customer-center__item {
    width: 264px;
    margin-right: 30px;
}
._customer-bottom {
    display: flex;
    flex-wrap: wrap;
}
._customer-bottom__item {
    width: 478px;
    min-height: 60px;
    padding-left: 80px;
}
._customer-bottom__item p {
    color: #7d7d7d;
    line-height: 22px;
    margin-top: 10px;
}
._customer-bottom__item h4 {
    margin-bottom: 10px;
}
._customer-bottom__item-1 {
    background: url("img/page2/icon1.png") no-repeat 0 30px;
    margin-right: 30px;
}
._customer-bottom__item-2 {
    background: url("img/page2/icon2.png") no-repeat 0 30px;
}
._customer-bottom__item-3 {
    background: url("img/page2/icon3.png") no-repeat 0 30px;
    margin-right: 30px;
}
._customer-bottom__item-4 {
    background: url("img/page2/icon4.png") no-repeat 0 30px;
}
._customer-bottom__item-5 {
    background: url("img/page2/icon5.png") no-repeat 0 30px;
}
._customer-center__item:last-child {
    margin-right: 0;
}
._customer-call {
    display: flex;
    background: #eef0f3;
    padding: 30px 60px;
    color: #000000;
    line-height: 20px;
    margin-top: 80px;
}
._customer-call__text {
    max-width: 765px;
    margin-right: 50px;
}
._customer-call__text p {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
._customer-call__phone {
    min-width: 204px;
    min-height: 24px;
    font-size: 20px;
    font-weight: 500;
    background: url("img/page2/icon-phone.png") no-repeat;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-top: 14px;
}
._customer-block__button {
    font: 13px Arial, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background: #5d6d88;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
._customer-block__button:hover {
    opacity: 0.8;
}
@media (max-width: 768px) {
    ._customer-wrap {
        padding: 0 20px;
    }
    ._customer-call {
        display: block;
    }
    ._customer-call__text {
        margin-right: 0;
    }
}
</style>
<div class="_customer-wrap"><p>ТД &laquo;Электро-Изолит&raquo; приглашает к сотрудничеству и предлагает оперативное
    изготовление деталей из текстолита и стеклотекстолита по чертежам заказчиков. В короткие сроки изготовим
    необходимые партии изделий, деталей, элементов в полном соответствии с технической/проектной документацией.
</p>
    <h3>Сверхпрочный и инертный слоистый пластик</h3>
    <p>В работе используется:</p>
    <div class="_customer-top">
        <div class="_customer-top__item"><img alt="Текстолит" src="img/page2/img1.png" />
            <h4>Текстолит</h4>
            <p>Инновационный композитный материал с основой из армирующих ХБ волокон и связующего компонента (ФФС).
                Листовой/плитный материал получают методом прессования.
            </p>
        </div>
        <div class="_customer-top__item"><img alt="Стеклотекстлит" src="img/page2/img2.png" />
            <h4>Стеклотекстолит</h4>
            <p>Слоистый листовой пластик, получаемый методом горячего прессования композита из нескольких слоев
                стеклоткани, пропитанной термоактивными эпоксифенольными вяжущими веществами.
            </p>
        </div>
    </div>
    <h3>Точность и четкость каждой детали</h3>
    <p>Мы оперативно изготовим запчасти и детали из текстолита или стеклотекстолита точно по чертежам заказчика.
        Наши клиенты &ndash; машиностроительные предприятия, горно-обогатительные комбинаты, металлургические заводы
        из всех регионов России. Готовы предложить изготовление элементов для сборки, ремонта, обслуживания:
    </p>
    <div class="_customer-center">
        <div class="_customer-center__item">
            <img alt="Генераторы" src="img/page2/img3.png" />
            <p>Гидро- и турбогенераторов, высоковольтных электрических машин.
            </p>
        </div>
        <div class="_customer-center__item">
            <img alt="Электродвигатели" src="img/page2/img4.png" />
            <p>Низковольтных электрических машин и других установок, оборудования, агрегатов.</p>
        </div>
        <div class="_customer-center__item">
            <img alt="Двигатели постоянного тока" src="img/page2/img5.png" />
            <p>Двигателей постоянного тока и транспорта на электрической тяге.</p>
        </div>
        <div class="_customer-center__item">
            <img alt="Тяговые двигатели" src="img/page2/img6.png" />
            <p>Тяговых двигателей тепловозов, электровозов.
            </p>
        </div>
    </div>
    <h3>Лучшие решения для каждого клиента</h3>
    <p>Имея многолетний опыт работы в сфере изготовления деталей разного уровня сложности, готовы дать ряд
        гарантий каждому клиенту:
    </p>
    <div class="_customer-bottom">
        <div class="_customer-bottom__item _customer-bottom__item-1">
            <h4>Любые партии</h4>
            <p>Наращиваем производственные мощности, отрабатываем технологии производства ЭИМ для изготовления
                необходимого Вам количества деталей/изделий.
            </p>
        </div>
        <div class="_customer-bottom__item _customer-bottom__item-2">
            <h4>Качество</h4>
            <p>На предприятии изготавливаются детали, которые способны конкурировать с аналогичной продукцией
                не только на российском, но также на зарубежном рынке.
            </p>
        </div>
        <div class="_customer-bottom__item _customer-bottom__item-3">
            <h4>Минимальные строки</h4>
            <p>От 3 до 5 дней в зависимости от сложности деталей.</p>
        </div>
        <div class="_customer-bottom__item _customer-bottom__item-4">
            <h4>Полное соответствие чертежам</h4>
            <p>Проводится обработка деталей с точностью до 0,1 мм.</p>
        </div>
        <div class="_customer-bottom__item _customer-bottom__item-5">
            <h4>Комфортная форма оплаты</h4>
            <p>Безналичная, по согласованию.</p>
        </div>
    </div>
    <div class="_customer-call">
        <div class="_customer-call__text">
            <p>Для уточнения цен и сроков изготовления деталей, оформления заказа свяжитесь с менеджерами компании.
                Мы проконсультируем по всем интересующим вопросам и предложим комфортные условия взаимовыгодного
                сотрудничества.
            </p>
        </div>
        <div>
            <div class="_customer-call__phone">+7 (343) 361-03-39</div>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-block__button"
                 data-company-id="98082432" data-company-name="ТД Электро-изолит" data-company-name-rest="ООО"
                 data-company-url="http://www.elektro-izolit.ru" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:98082432}" data-statistics="1" data-type="callback">
                Заказать звонок
            </div>
        </div>
    </div>
</div>

